/*Scribbeats*/

html {
	overflow: hidden;
	-ms-touch-action: none;
	-ms-content-zooming: none;
}
body {
	position: absolute;
	margin: 0;
	padding: 0;
	background: #000;
	width: 100%;
	height: 100%;
}
#screen {
	position: absolute;
	width: 100%;
	height: 75%;
	cursor: pointer;
	z-index: 0;
}

.row{
	background-color: white;
}
.container, #apiswf, #clickme{
	z-index: 2;
}



.container{
/*	position: absolute;
	top: 75%;*/
	height: 25%;
	width: 100%;
	margin: 0 auto;
	background-color: black;
	color: white;
	overflow: scroll;
	display: inline-block;
}
#undo_drawing,#save_drawing,#clear_drawing,#load_drawing,#pause_drawing,#clickme{
	display: inline-block;
}
#upbeat,#chill,{
	display: inline-block;
}
#header,#album-art,, #album-art img,#controls,.options,.options button,#directions,.pace,
/*#upbeat,#chill,*/
/*#audio-info,#audio-controls,*/
#audio-footer,#track-time,#mute,#art_search, #log,#audio-info,#artist_name, #searchartist{
	display: inline-block;

}
#pause img,#next img{
	height: 40px;
	width: 40px;
}
#mute img{
	height: 40px;
	width: 40px;
}
.pace{
	text-align: center;
}
#upbeat,#chill{
	height: 111px;
}
#art-search img{
	height: 111px;
	width: 111px
}
input[type="text"]{
	width: 105px;
	display: block;
}
button,select{
	text-decoration: none;
	border: none;
	background-color: #4d4d4d;
	color: white;
}

select{
   	padding: 5px;
   	width: 100px;
   	border: 1px solid #4d4d4d;
   	border-radius: 2px;
   	-webkit-appearance: none;
   	background: url(../img/dropdown.png) no-repeat 90% #4d4d4d;
}
select img{
	margin-right: 5px;
}

#song-title,#artist-name{
	display: block;
}
#audio-controls,#pause,#next,#mute{
	display: inline-block;
}
#art_search,#controls,.pace,.options{
	padding-left: 2.5%;
	padding-right: 5px;
}

#header, #header img, #artist_name, .tip{
	display: inline-block;
}
#audio-footer{
	position: fixed;
	top: 70%;
	left: 72.5%;
}
#log{
	position: fixed;
	top: 70%;
	left: 2.5%;
}
#header button{
	display: inline-block;
}
